// Intro Section

	#intro {
		background: url(/img/intro-bg.jpg);
		background-size: cover;
		padding: 0;
		.container {
			background: -moz-linear-gradient(top,transparent 0,#000 100%);
			background: -webkit-gradient(linear,left top,left bottom,color-stop(0,transparent),color-stop(100%,#000));
			background: -webkit-linear-gradient(top,transparent 0,#000 100%);
			background: -o-linear-gradient(top,transparent 0,#000 100%);
			background: -ms-linear-gradient(top,transparent 0,#000 100%);
			background: linear-gradient(to bottom,transparent 0,#000 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000', GradientType=0 );
			width: 100%;
			height: 100%;
			padding: 140px 0 210px 0;
		}
		h1, h2, h3, h4, p, a {
			color: $white;
		}
		.heart {
			text-shadow: 0 1px 1px rgba($black, 0.25);
		}
		.btn {
			font-size: 1.2rem;
			font-weight: 700;
			color: $white !important;
			border: 2px solid $white;
			&:hover {
				background-color: $blue;
				color: $white !important;
				border-color: $blue;
			}
		}
		.next-button {
			margin-top: 3rem;
		}
	}

// Snapshot Section

	#snapshot {
		background: url(/img/wild_flowers.png);

		.container {
			width: 100%;
			max-width: 1140px;
		}

		section {
			&.first {
				@include span-columns(5);
			}
			&.second {
				@include span-columns(7);
			}
		}

		//Typographical elements

			h3 {
				text-align: left;
				font-size: 2rem;
				font-weight: 700;
				text-shadow: 0 2px 0 rgba($black,0.25);
				padding: 0.5rem 0;
				margin-bottom: 0;
				text-transform: uppercase;
			}

			p {
				margin: 0;
				max-width: 100% !important;
				padding: 0;
			}

		.grid-item:hover {
			.subtlecircle {
				box-shadow: 0 3px 5px rgba(25,25,25,0.55);
			}
		}

		@import '_grid-items.scss';	
	}
	
// Board Section

	#staff {
		section {
			&.first {
				@include span-columns(5);
			}
			&.second {
				@include span-columns(7);
			}
		}
	}
	
	@media only screen and (max-width:600px) {
		#staff {
			section {
				&.second, &.first {
					width: 100%;
					display: block;
				}
			}
		}
	}

// Board Section

	#board {
		section {
			&.first {
				@include span-columns(5);
			}
			&.second {
				@include span-columns(7);
			}
			&.one-third {
				@include span-columns(4);
				margin-right: 0;
			}
		}
	}

// Success Section

	#success {
		section {
			&.first {
				@include span-columns(6);
				margin-right: 0;
				margin-left: 2.35765%;
			}
			&.second {
				@include span-columns(6);
			}
		}
		h3 {
			text-align: left;
			color: $white;
			font-size: 2rem;
			font-weight: 700;
			text-shadow: 0 2px 0 rgba($black,0.65);
			padding: 0.5rem 0;
			margin-bottom: 0;
			text-transform: uppercase;
		}
		h4 {
			font-family: 'Gloria Hallelujah', cursive;
			color: $white;
			font-size: 1.5rem;
			line-height: 2.2rem;
			text-shadow: 0 2px 5px rgba($black,0.45);
		}
		p {
			text-align: left;
			font-size: 1.2rem;
			padding: 0;
		}
		.slider-image {
			text-align: center;
			.highlight {
				display: inline-block;
				img {
					max-height: 300px;
					border: 5px solid $white;
					box-shadow: 0 5px 3px rgba($black, 0.25);
				}
			}
		}
		.slider-nav {
			text-align: center;
			margin: 3rem auto;
			.slick-slide {
				color: rgba($black, 0.25);
				&:hover,.slick-active, &.slick-active {
					color: #555;
					cursor: pointer;
				}
			}
			.slick-track {
				background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQIHWPQ1dU1BgABzQC7XXMTYQAAAABJRU5ErkJggg==);
				display: block;
				padding: 1rem 0;
				margin-bottom: 20px;
				border-radius: 6px;
				box-shadow: 0 2px 4px rgba(25,25,25,0.25);
				.fa-4x {
					text-shadow: 0 1px 1px rgba(25,25,25,0.25);
				}
			}
		}
	}

// Scholarships Section
	
	#scholarships {
		section {
			&.first {
				@include span-columns(8);
			}
			&.second {
				position: relative;
				@include span-columns(4);
			}
		}
		.photoset-grid {
			  width: 200% !important;
			  position: absolute;
			  bottom: -25.5rem;
			img {
				box-shadow: 0 3px 3px rgba(136,136,136,0.55);
			}
		}	
		h3 {
			text-align: left;
			font-size: 2.3rem;
		}
	}

//Partnerships Section

	#partnerships {
		padding: 0;
		.faicon {
			z-index: 150;
		}
		.logo-grid {
			@include outer-container;
			max-width: 100%;
			.block {
				@include span-columns(3);
				@include omega(4n);
				opacity: 0.6;
			}
		}
		.container {
			padding: 210px 0;
			width: 100%;
			overflow: hidden;
		}
		.first {
			position: relative;
			margin: 0 auto;
			width: 960px;
			text-shadow: 0 1px 2px rgba(25,25,25,0.45);
			z-index: 250;
		}
		.second {
			position: absolute;
			top: -1rem;
			left: 0;
			width: 100%;
			z-index: 100;
		}
		.even {
			margin-top: -8rem;
		}
	}

//Support Section

#letter {
	text-align: left;
	.faicon {
		z-index: 150;
	}
	h2, h3, h4, p {
		color: $white;
		padding: 0;
		text-align: left;
		text-shadow: 0 1px 2px rgba($black, 0.25);
	}
	p {
		color: #555;
		font-weight: 500;
		margin: em(15) 0;
		padding: 0;
		&:first-of-type {
			margin-top: em(5px);
		}
	}
	h2 {
		position: relative;
		margin-bottom: em(15);
		font-size: 2.8rem;
		font-weight: 700;
		&:after {
			content: '';
			width: 34rem;
			position: absolute;
			bottom: 0;
			left: 0;
			height: 2px;
			background-color: $white;
		}
	}
	h4 {
		font-size: 1.3rem;
	}
	.cursive {
		font-size: 2.3rem;
		font-family: 'Gloria Hallelujah', cursive;
	}
	.btn {
		position: relative;
		top: 2.3rem;
		font-size: 1.2rem;
		font-weight: 700;
		color: $white !important;
		border: 2px solid $white;
		&:hover {
			background-color: $white;
			color: $turqoise !important;
			border-color: $turqoise;
			
		}
	}
	.next-button {
		margin-top: 3rem;
	}
	.first {
		@include span-columns(7);
	}
	.second {
		@include span-columns(5);	
		text-align: center;	
		.fa-stack {
			font-size: 10rem;
			background:rgba(25,25,25,0.25);
		}
		.heart {
			margin: 0 auto;
			display: block;
			float: none;
			text-align: center;
		}
	}
}

